@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Grechen+Fuemen&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lemonada&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik+Burned&display=swap");

:root {
  /* colors (https://colorhunt.co/palette/f5e8c7deba9d9e77776f4c5b) */
  --MAIN-BG: #100f0f;
  --BRIGHTER-MAIN-BG: #0f3d3e;
  --MAIN-TEXT-COLOR: #f1f1f1;
  --BUTTONS-BG-COLOR: #e2dcc8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--MAIN-TEXT-COLOR);
}

body {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  font-family: "Roboto";
  max-height: 100vh;
  background-color: var(--MAIN-BG);
}

.wrapper {
  min-width: 100%;
  height: 100vh;
}

section {
  height: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 1%;
}

h1 {
  margin-bottom: 3%;
  font-family: "Rubik Burned";
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

aside {
  margin-bottom: 2%;
}

summary {
  color: rgb(159, 172, 190);
}

#game-section {
  display: flex;
  flex-direction: column;
}

.secret-word-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hangman-image-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* min-height: 100%; */
}

.hangman-image {
  position: inherit;
  overflow: hidden;
  width: auto;
  max-height: 30vh;
  margin-top: 2vh;
  overflow: hidden;
}

.display-secret-word-blanks-here {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw;
  color: var(--MAIN-TEXT-COLOR);
  font-size: 2rem;
  margin: 2vh auto;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 0 6%;
  /* box-shadow: 2.6px 1.6px 3.3px rgba(0, 0, 0, 0.034),
    6.2px 3.8px 8px rgba(0, 0, 0, 0.048), 11.6px 7.1px 15px rgba(0, 0, 0, 0.06),
    20.8px 12.7px 26.8px rgba(0, 0, 0, 0.072),
    38.9px 23.8px 50.1px rgba(0, 0, 0, 0.086),
    93px 57px 120px rgba(0, 0, 0, 0.12);

  backdrop-filter: blur(10px) saturate(119%);
  -webkit-backdrop-filter: blur(10px) saturate(119%);
  background-color: rgba(17, 25, 40, 0.59);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125); */
}

.btn {
  /* decoration */
  /* all: unset; */
  border: none;
  cursor: pointer;
  background-color: var(--BUTTONS-BG-COLOR);
  color: var(--MAIN-BG);
  font-size: 1rem;
  min-width: 3rem;
  min-height: 1.5rem;
  border-radius: 15px;
  margin: 0.3rem;
  /* Flexbox */
}

.btn:focus {
  cursor: pointer;
  background-color: var(--BUTTONS-BG-COLOR);
}

.btn:hover {
  /* all: unset; */
  cursor: pointer;
  background-color: var(--BUTTONS-BG-COLOR);
}

.hidden {
  visibility: hidden;
  /* display: none; */
}

.remove {
  display: none;
}

.new-Game-Button {
  padding: 0.5rem 1rem;
}

.footer-system-message {
  font-size: 0.6rem;
  padding-bottom: 1%;
}

.message-2 {
  padding: 1rem 0;
}
